<% include partials/header.ejs %>

<div class="landing">
  <div id="div2">
    <h1 id="h11">Welcome to  the blog</h1>
    <hr>
    <h1 style="margin-left:220px;">Get started</h1>
    <a href="/login" ><button type="button" class="ui large black button" style="float:left;margin-left:70px;">Login</button></a>
    <a href="/signup"><button type="button" class="ui large  black button" style="float:right;margin-right:70px;">SignUp</button></a>
  </div>
</div>



<% include partials/footer.ejs %>
